.dashboard-container {
  text-align: center;
  color: #ffffff;
  width: 50%;
  h1,
  h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
  }
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: small;
  }
  .text-container {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 28em;
    left: 38em;
  }
}
