.login-container {
  background-color: #ffffff;
  padding: 5rem 3rem;
  border-radius: 0.2rem;
  width: 25%;
  text-align: center;

  .error {
    color: tomato;
  }

  form {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    input {
      // margin-bottom: 0.5rem;
      padding: 0.5rem;
    }
    button {
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      width: 60%;
      background-color: #0077bd;
      outline-offset: 0;
      border: none;
      color: #ffffff;
      margin-top: 1rem;
    }

    h1 {
      margin: 0 0 2rem 0;
      font-weight: lighter;
      color: gray;
      padding-bottom: 0.2rem;
    }
  }
}
